<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <link rel="stylesheet" href="your-styles.css">  <!-- 외부 CSS 파일을 링크하거나 스타일을 여기에 추가 -->
</head>
<body>
    <div id="content">
      <a href="{% url "weathers:problem1" %}">문제1</a> |
      <a href="{% url "weathers:problem2" %}">문제2</a> |
      <a href="{% url "weathers:problem3" %}">문제3</a> |
      <a href="{% url "weathers:problem4" %}">문제4</a>
      {% block content %}
      {% endblock %}
    </div>
</body>
</html>