{% extends "base.html" %}
{% block content %}
  <h2>{{ todo.user.username }}이/가 해야할 일</h2>
  <hr>
  <ul>
    <li>해야 할 일 : {{ todo.title }}</li>
    <li>설명 : {{todo.description }}</li>
  </ul>
  <hr>
  <p>좋아요 : {{ todo.like_users.all | length }}개</p>
  <form action="{% url "todos:likes" todo.pk %}" method="POST">
    {% csrf_token %}
    {% if request.user in todo.like_users.all %}
      <button type="submit" class="btn btn-link">
        <span class="bi bi-heart-fill"></span>
      </button>
    {% else %}
      <button type="submit" class="btn btn-link">
        <span class="bi bi-heart"></span>
      </button>
    {% endif %}
  </form>
  <hr>
  <form action="{% url "todos:comments_create" todo.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value="댓글 등록" class="btn btn-outline-secondary">
  </form>
  <hr>
  <h4>댓글 목록 : {{ comments | length }}개</h4>
  <ul>
    {% for comment in comments %}
      <li>
        {{ comment.user }} - {{ comment.content }}
        {% if request.user == comment.user %}
          <form action="{% url "todos:comments_delete" todo.pk comment.pk %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-link">
                <i class="bi bi-trash"></i>
            </button>
          </form>
        {% endif %}
      </li>
    {% empty %}
      <p>안녕하십니까? 댓글이없는곳에 번개처럼 나타나는 무플방지위원회입니다. 귀하의 말씀에 댓글이 없어 기분이 불쾌하실 것 같아 무플방지위원회에서 찾아드렸습니다. 
        저희 무플방지위원회는 언제나 함께합니다. 오늘도 좋은하루 되시길 기원하면서 댓글입력하고갑니다.^^
        <br>-무플방지위원회일동- <br>
        （｡･ω･｡)つ━☆・*。<br>
        ⊂　　 ノ 　　　・゜+. <br>
        しーＪ　　　°。+ *´¨)</p>
    {% endfor %}
  </ul>
  <hr>
  <p>작성 시간 : {{ todo.created_at }}</p>
  <a href="{% url "todos:board" %}">[BACK]</a>
{% endblock content %}
