<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>내가 한 일</h1>
  <p>{{ todo.pk }}번째 한 일</p>
  <hr>
  <ul>
    <li>해야 한 일 : {{ todo.title }}</li>
    <li>설명 : {{todo.description }}</li>
  </ul>
  <form action="{% url "todos:delete" todo.pk %}" method='POST'>
    {% csrf_token %}
    <input type="submit" value="보기 싫음">
  </form>
  <hr>
  <p>작성 시간 : {{ todo.created_at }}</p>
  <a href="{% url "todos:index" %}">[BACK]</a>
  </body>
</html>