{% extends "base.html" %}
{% load static %}

{% block content %}
<h1><i class="bi bi-journal">ToDoList</i></h1>
{% comment %} <a href="{% url "todos:new" %}">[CREATE]</a>
<a href="{% url "todos:reset" %}">[RESET]</a> {% endcomment %}
<hr>
<h3>해야할 일</h3>
<hr>
{% for todo, d_day in combined_data %}
  {% if todo.important %}
    {% if todo.user == request.user %}
    <p>★★{{ forloop.counter }}번째 할 일★★</p>
    <p>해야 할 일 : {{ todo.title }}</p>
      {% if d_day >= 0 %}
        <p>남은 기간 : {{ d_day }}일</p>
      {% else %}
        <img src="{% static "image/choonsic.png" %}" alt="img" class="overtime"><br>
      {% endif %}
    <a href="{% url "todos:detail" todo.pk %}">[DETAIL]</a>
    <hr>
    {% endif %}
  {% else %}
    {% if todo.user == request.user %}
    <p>{{ forloop.counter }}번째 할 일</p>
    <p>해야 할 일 : {{ todo.title }}</p>
      {% if d_day >= 0 %}
        <p>남은 기간 : {{ d_day }}일</p>
      {% else %}
        <img src="{% static "image/choonsic.png" %}" alt="img" class="overtime"><br>
      {% endif %}
    <a href="{% url "todos:detail" todo.pk %}">[DETAIL]</a>
    <hr>
    {% endif %}
  {% endif %}
{% endfor %}
{% endblock content %}
