<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>해야할 일 생성</h1>
  <form action="{% url "todos:create" %}" method="POST">
    {% csrf_token %}
    <div>
      <label for="title">해야할 일 : </label>
      <input type="text" id="title" name="title">
    </div>
    <div>
      <label for="description">설명 : </label>
      <textarea name="description" id="description" cols="30" rows="10"></textarea>
    </div>
    <div>
      <label for="target_day">기간 : </label>
      <input type="text" id="target_day" name="target_day" placeholder="YYYY-MM-DD">
    </div>
    <label for="important">Important<input type="checkbox" name="important" value="True" checked>여기 적은건 다 중요한 일아닐까?</label><br>
    <input type="submit">
  </form>
  <a href="{% url "todos:index" %}">[취소]</a>
</body>
</html>