{% extends "base.html" %}
{% block content %}
<h1>{{ person.username }}님의 프로필</h1>
<p>팔로잉 : {{person.followings.all | length }} / 팔로워 : {{ person.followers.all | length }}</p>
{% if request.user.username == person.username %}
  <a href="{% url "accounts:change" %}" class="btn btn-outline-success"><i class="bi bi-pencil-square"> 회원정보 수정</i></a>
{% else %}
  <div>
    <form action="{% url "accounts:follow" person.pk %}" method="POST">
      {% csrf_token %}
      {% if request.user in person.followers.all %}
        <input type="submit" value="Unfollow" class="btn btn-warning">
      {% else %}
        <input type="submit" value="Follow" class="btn btn-primary">
      {% endif %}
    </form>
  </div>
{% endif %}
<hr>
<h2>할일 목록</h2>
<ul>
  {% for todo in person.todolist_set.all %}
    {% if todo.completed == False %}
      {% if todo.check_share == True %}
        <li><a href="{% url "todos:board_detail" todo.pk %}">{{ todo.title }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
<hr>
<h2>작성한 댓글</h2>
  <ul>
    {% for comment in person.comment_set.all %}
      <li><a href="{% url "todos:board_detail" comment.todo_id %}">{{ comment.content }}</a></li>
    {% endfor %}
  </ul>
<hr>
<h2>좋아요 누른 게시글</h2>
  <ul>
    {% for article in person.like_users.all %}
      <li><a href="{% url "todos:board_detail" article.pk %}">{{ article.title }}</a></li>
    {% endfor %}
  </ul>
<hr>
<a href="{% url "todos:board" %}">[BACK]</a>
{% endblock content %}