.container {
  display: flex;
  width: 800px;
  height: 800px;
  flex-wrap: wrap;
}

.black {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  background-color: black;
  box-sizing: border-box;
}

.white {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  background-color: white;
  box-sizing: border-box
}
