{% extends 'base.html' %}

{% block content %}
  <h1>DETAIL PAGE</h1>
  {% comment %} <div style="width: 300px;">
    <img src="{{ movie.movie_image.url }}" alt="" class="w-100">
  </div> {% endcomment %}
  <h2>{{ movie.title }}</h2>
  <h5>{{ movie.description }}</h5>
  <hr>
  {% if user.is_authenticated %}
    <a href="{% url 'movies:update' movie.pk %}" class="btn btn-secondary">UPDATE</a>
    <form action="{% url 'movies:delete' movie.pk %}" method="POST" class="d-inline">
      {% csrf_token %}
      <input type="submit" value="DELETE" class="btn btn-danger">
    </form>
  {% endif %}
  <hr>
  <div>
    <a href="{% url 'movies:index' %}" class="btn btn-primary">BACK</a>
  </div>
{% endblock content %}
