hr {
  border: none;
  height: 1px;
  background-color: black;
}

.bi.bi-journal {
  font-size: 30px;
}

.bi.bi-heart-fill {
  color: red;
}

.bi.bi-heart {
  color: red;
}

.bi.bi-trash {
  color: black;
}

.detail-button-container {
  display: flex;
  gap: 10px;
}