hr {
  border: none;
  height: 1px;
  background-color: black;
}

.container {
  display: flex;
}

.bi.bi-journal {
  font-size: 30px;
}

.bi .bi-heart-fill {
  color: red;
}

.bi .bi-heart {
  color: red;
}

.bi .bi-trash {
  color: red;
}

.detail-button-container
, .completed-button{
  display: flex;
  gap: 10px;
}

input[type="checkbox"] {
  width: 15px; /* 너비를 조정하세요. */
  height: 15px; /* 높이를 조정하세요. */
  margin-left: 10px;
}

.mainimg {
  display: flex;
  
}